{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link type='text/css' rel="stylesheet" href='{% static "cssCustom/index.css" %}'>
    <link type='text/css' rel="stylesheet" href='{% static "cssCustom/graficos.css" %}'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" href='{% static "img/logoSYS.png" %}' type="image/x-icon">
</head>

<body>
        <!--Inicio Cartas-->
        {% include 'banner.html' %}
        <div class="contenedor-cartas-padre" id="metodologia">
            <div class="contenedor-cartas">
                <div class="carta">
                    <div class="content-carta">
                        <a  href="{% url 'EMPLEADOS' %}">
                            <img src='{% static "img/findEmpleado.jpg" %}' class="findEmpleado">
                            <h4>Administrar Empleados</h4>
                        </a>
                        <p> <ul class="list-group">
                            <li class="list-group-item">Busqueda de empleados</li>
                            <li class="list-group-item">Editar datos de empleado</li>
                            <li class="list-group-item">Despedir empleado</li>
                            <li class="list-group-item">Editar nómina</li>
                            <li class="list-group-item">Pago de nómina</li>
                          </ul></p>
                    </div>
                </div>
    
                <div class="carta">
                    <div class="content-carta">
                        <a  href="{% url 'addEmpleados' %}">
                            <img src='{% static "img/newemploye.jpg" %}' class="findEmpleado">
                            <h4>Contratar Empleados</h4>
                        </a>
                        <p> <ul class="list-group">
                            <li class="list-group-item">Integrar Empleado</li>
                            <li class="list-group-item">Añadir nómina</li>
                            <li class="list-group-item">Datos personales</li>
                            <li class="list-group-item">Registro social</li>
                            <li class="list-group-item">Cargo</li>
                          </ul></p>
                    </div>
                </div>
            </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
    <script src='{% static "js/graficos.js" %}'></script>
</body>

</html>