{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link type='text/css' rel="stylesheet" href='{% static "cssCustom/index.css" %}'>
    <link rel="icon" href='{% static "img/logoSYS.png" %}' type="image/x-icon">
</head>

<body>
    <div id="presentacion">
        <div id="imagenSYS">
            <img id="imagenSYS" src='{% static "img/logoSYS.png" %}' class="img-fluid border border-primary" alt="...">
        </div>
        <div id="textIndex">
            Descubre una solución integral para el control y crecimiento de tu negocio. Gestiona a tus colaboradores con nosotros. Así lo harás de 
            manera más eficiente y efectiva. ¡El poder de la
            administración en tus manos!
        </div>
        <div id="textIndex">
            ¡El poder de la administración en tus manos!
        </div>
    </div>

    <hr>

    <div id="formulario">
        <div class="container col-xl-4 col-xl-4 col-md-6 col-sm-4 col-sm-12">
            <h2 id="textoForm">Inicia sesión</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input name="email" type="email" class="form-control" id="inputEmail"
                        placeholder="example@gmail.com">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Contraseña</label>
                    <input name="password" type="password" class="form-control" id="inputPassword"
                        placeholder="Ingresa tu contraseña">
                </div>
                <div id="presentacion">
                    <button type="submit" class="btn btn-primary position-relative py-2 px-4"
                        name="datosPrincipales">Iniciar</button>
                </div>

                <span class="border border-white">
                    <div class="alert alert-info" role="alert">
                        ¿No tienes una cuenta? tranquilo, puedes crear una de manera gratuita. Solo presiona en
                        &nbsp;&nbsp;<a href="registro/" class="alert-link">Registrarse</a>.
                    </div>
                </span>

            </form>
        </div>
    </div>

</body>

</html>