{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="icon" href='{% static "img/logoSYS.png" %}' type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href='{% static "cssCustom/administracion.css" %}'>
</head>

<body>
    <!--Modal para confirmar despido-->
    <div class="modal fade" id="despedirModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Confirmar despido</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-warning-subtle">
                    Esta acción marcará al empleado {{empleado.nombres}} {{empleado.apellidos}} como inactivo dentro
                    de la empresa, puede revertir estos cambios en un futuro. Si confirma el despido se guardará la
                    acción
                    en el historial de cambios del empleado para futuras revisiones.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        style="margin-right: 40px;">No</button>
                    <a href="#" id="confirmAction" class="btn btn-danger">Sí</a>
                </div>
            </div>
        </div>
    </div>

    <!--Modal para confirmar recontratación-->
    <div class="modal fade" id="recontratarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Confirmar Reintegración</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-warning-subtle">
                    Esta acción marcará al empleado {{empleado.nombres}} {{empleado.apellidos}} como activo nuevamente
                    dentro
                    de la empresa. Si confirma la recontratación se guardará la acción en el historial de cambios del
                    empleado para futuras revisiones.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <a href="#" id="confirmAction" class="btn btn-danger">Sí</a>
                </div>
            </div>
        </div>
    </div>

    <!--Modal para editar empleado-->
    <div id="miModal" class="modalPrincipal">
        <div class="modalUpdate modal-body bg-warning-subtle">
            <p>¿Quiere realizar estos cambios en el empleado {{empleado.nombres}} {{empleado.apellidos}}?</p>
            <hr class="separador">
            <button id="confirmarSi" class="btn btn-danger">Sí</button>
            <button id="confirmarNo" class="btn btn-secondary">No</button>
        </div>
    </div>

    <div class="container" style="min-width: 1079px;">
        <div class="row col-12" id="containerImage" style="margin-top: 20px;">
            <div class="imagenDefault" style="height: 75px; width: 75px;">

            </div>
        </div>
        <div class="row col-12" style="min-width: 1110px;">
            <table class="table-secondary table-bordered table-striped-columns">
                <h2 id="textoForm">Editar Nómina</h2>
                <thead>
                    <tr>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                        <th scope="row">Nombres del empleado:</th>
                        <th scope="row">{{empleado.nombres}} {{empleado.apellidos}}</td>

                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th scope="col">Cargo</th>
                        <th scope="col">H. ext. Normal</th>
                        <th scope="col">Recargo Nocturno</th>
                        <th scope="col">H. ext. Nocturna</th>
                        <th scope="col">H. Día Dominical</th>
                        <th scope="col">H. Noche Dominical</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cargo empleado</td>
                        <td>25%</td>
                        <td>35%</td>
                        <td>75%</td>
                        <td>110%</td>
                        <td>150%</td>
                    </tr>
                </tbody>
            </table>
            <div id="formulario" class="intangible container" style="min-width: 1079px;">
                <div class="row">
                    <div class="col-8" >
                        <form class="row" action="" method="POST">
                            {% csrf_token %}
                            <table class="col-6 table-success table-bordered table-striped-columns">
                                <thead>
                                    <tr>
                                        <th scope="col">Clave</th>
                                        <th scope="col">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Salario Base
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="mb-3">
                                                <label  for="floatingTextareaDisabled" class="form-label">${{empleado.salario}}</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Días Hábiles / MES
                                        </td>
                                        <td>
                                            <div class="mb-3">
                                                <input name="dias_habiles_mes" type="number" class="form-control"
                                                    id="inputTelefono" value="{{nomina.dias_trabajados}}">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            HRS. Norms. / dia.
                                        </td>
                                        <td>
                                            <div class="mb-3">
                                                <input name="hrs_norms_dia" type="number" class="form-control"
                                                    id="inputTelefono" value="{{nomina.hrs_normales_trabajadas}}">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            HRS. Nctna / MES
                                        </td>
                                        <td>
                                            <div class="mb-3">
                                                <input name="hrs_nctna_mes" type="number" class="form-control"
                                                    id="inputTelefono" value="{{nomina.hrs_nocturnas_trabajadas}}">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            H. Ext. Nctna / MES
                                        </td>
                                        <td>
                                            <div class="mb-3">
                                                <input name="h_ext_nctna_mes" type="number" class="form-control"
                                                    id="inputTelefono" value="{{nomina.hrs_extras_nocturnas}}">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            HRS. Domcal. / MES
                                        </td>
                                        <td>
                                            <div class="mb-3">
                                                <input name="hrs_domcal_mes" type="number" class="form-control"
                                                    id="inputTelefono" value="{{nomina.hrs_dominical_trabajadas}}">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            HRS. Domcal. Noctna / MES
                                        </td>
                                        <td>
                                            <div class="mb-3">
                                                <input name="hrs_domcal_noctna_mes" type="number" class="form-control"
                                                    id="inputTelefono" value="{{nomina.hrs_dominical_nocturnas_trabajadas}}">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--Segunda colunma form-->
                            <table class="col-6 table-success table-bordered table-striped-columns">
                                <thead>
                                    <tr>
                                        <th scope="col">Clave</th>
                                        <th scope="col">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Hrs. Semanales
                                        </td>
                                        <td>
                                            <div class="mb-3">
                                                <input name="hrs_semanales" type="number" class="form-control"
                                                    id="inputTelefono" value="{{nomina.hrs_semanales_contrato}}">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            HRS. Norms. Extras
                                        </td>
                                        <td>
                                            <div class="mb-3">
                                                <input name="hrs_norms_extras" type="number" class="form-control"
                                                    id="inputTelefono" value="{{nomina.hrs_extras_normales}}">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            V. Día Base
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="mb-3">
                                                <label  for="floatingTextareaDisabled" class="form-label">${{valoresBase.v_dia_base}}</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            V. Hora Base
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="mb-3">
                                                <label  for="floatingTextareaDisabled" class="form-label">${{valoresBase.v_hora_base}}</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            V. HRS. Nocturnas
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="mb-3">
                                                <label  for="floatingTextareaDisabled" class="form-label">${{valoresBase.v_hora_nocturna}}</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            V. HRS. Dominical
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="mb-3">
                                                <label  for="floatingTextareaDisabled" class="form-label">${{valoresBase.v_hora_dominical}}</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            V. HRS. Dominical Noct
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="mb-3">
                                                <label  for="floatingTextareaDisabled" class="form-label">${{valoresBase.v_hora_dominical_nocturno}}</label>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                            <div id="presentacion" class="divBoton" style="margin-top: 5px;">
                                <button type="submit" class="btn btn-outline-success btn-sm divBoton py-2" id="enviarDatos">Aplicar
                                    cambios</button>
                            </div>
                            
                        </form>
                    </div>
                    <div class="col-3" style="margin-left: 20px; margin-top: 30px;">
                        <div class="row">
                            <table class="col-12 table-success table-bordered table-striped-columns" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <th scope="col">Pago actual</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {{nomina.pago_mes}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Buscar nuevo empleado por cédula -->
                        <div class="row" style="margin-top: 50px;">
                            <form>
                                <table class="col-12 table-dark table-bordered table-striped-columns" style="text-align: center;">
                                    <thead>
                                        <tr>
                                            <th scope="col">Buscar empleado por cédula</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="padding: 10px;">
                                                <div class="mb-3">
                                                    <input name="salario" type="number" class="form-control"
                                                        id="inputTelefono" value="{{empleado.cedula}}">
                                                </div>
                                                <button type="button" class="btn btn-light"><a href="#" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Buscar</a></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="" id="opciones">
            <div class="row">
                <div class="col-xl-3 divBoton">
                    <button type="button" class="btn btn-outline-secondary col-8" id="botonEditar">Habilitar
                        edición</button>
                </div>

            </div>
        </div>

        <script src='{% static "js/intangible.js" %}'></script>
        <script src='{% static "js/regresar.js" %}'></script>
        <script src='{% static "js/advertencia.js" %}'></script>
        <script src='{% static "js/despedir.js" %}'></script>

</body>

</html>